<h1>Teams</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Division</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td>
          <%= link_to team.name, team %>
        </td>
        <td><%= team.division %></td>
      </tr>
    <% end %>
  </tbody>
</table>
