<h1><%= @team.name %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
      </tr>
    <% end %>
  </tbody>
</table>
