<h1>Results</h1>

<%= render "results/last_three" %>

<h3>Full Results</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Round</th>
      <th>Pick</th>
      <th>Team</th>
      <th>Player</th>
    </tr>
  </thead>
  <tbody>
    <% @drafts.each do |draft| %>
      <% if draft.complete? %>
        <tr class="success">
      <% else %>
        <tr>
      <% end %>
        <td><%= draft.round %></td>
        <td><%= draft.pick %></td>
        <td><%= link_to draft.team.name, draft.team %></td>
        <td>
          <% if draft.player.nil? %>
            <i>In progress</i>
          <% else %>
            <%= draft.player.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
