<h1>Available Players</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <% @available.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td>
            <%= form_tag("/results/draft", method: "post") do %>
                <%= hidden_field_tag(:player_id, player.id) %>
                <% if Draft.next_team.nil? %>
                  Draft Over
                <% else %>
                  <%= submit_tag "Draft to #{Draft.next_team.name}",
                    :class => "btn btn-success btn-sm" %>
                <% end %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
