<h1>All Players</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <% if player.drafted? %>
        <tr class="success">
      <% else %>
        <tr>
      <% end %>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td>
          <% if player.team.nil? %>
            <%= form_tag("/results/draft", method: "post") do %>
                <%= hidden_field_tag(:player_id, player.id) %>
                <% if Draft.next_team.nil? %>
                  Draft Over
                <% else %>
                  <%= submit_tag "Draft to #{Draft.next_team.name}",
                    :class => "btn btn-success btn-sm" %>
                <% end %>
            <% end %>
          <% else %>
            <%= link_to player.team.name, player.team %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
