<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">NFL Draft</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if current_page?(root_path) %>">
          <%= link_to "Home", root_path %>
        </li>
        <li class="<%= "active" if params[:controller] == "teams" %>">
          <%= link_to "Teams", teams_path %>
        </li>
        <li class="dropdown <%= "active" if current_page?(players_path) || current_page?(players_available_path) %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Players <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "All Players", players_path %></li>
            <li><%= link_to "Available Players", players_available_path %></li>
            <%# <li class="divider"></li> %>
          </ul>
        </li>

        <%# Results Dropdown %>
        <li class="dropdown <%= "active" if params[:controller] == "results" %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Results <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Full Results", results_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Round 1", "/results/round/1" %></li>
            <li><%= link_to "Round 2", "/results/round/2" %></li>
            <li><%= link_to "Round 3", "/results/round/3" %></li>
            <li><%= link_to "Round 4", "/results/round/4" %></li>
            <li><%= link_to "Round 5", "/results/round/5" %></li>
            <li><%= link_to "Round 6", "/results/round/6" %></li>
            <li><%= link_to "Round 7", "/results/round/7" %></li>
          </ul>
        </li>

        <p class="navbar-text navbar-right">
          <% if Draft.next_team.nil? %>
            Draft complete!
          <% else %>
            Next team: <%= Draft.next_team.name %>
          <% end %>
        </p>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
